In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel('RL Journalism Data Request - May 2023.xlsx')
df.head()

,bankruptcyInLast3Years,bankruptcyTotal,Fico09,Employmentstatus,Selectedamount,realEstateMonthlyPayment,unsecuredTradelineBalanceAmount,revolvingCreditAvailable,revolvingCreditAmount,revolvingTradelinesBalance,otherMonthlyPayment,otherTradelinesBalance,HomeOwnership,postCloseAllInDti,dti,postCloseDti,State,Age,Loanpurpose,LoanType
0,0,0,607,Employed,10000,1529,0,3546,18700,15154,0,0,mortgage,0.396192,0.200496,0.229392,TX,33,debtConsolidation,PersonalLoan
1,0,0,722,Employed,20000,2668,0,2646,37100,34454,0,0,own,0.363110,0.175444,0.204222,OK,55,debtConsolidation,PersonalLoan
2,0,0,657,Employed,3433,0,4567,6723,9350,2627,0,0,mortgage,0.044694,0.029133,0.044694,AL,33,homeImprovement,PersonalLoan
3,0,0,772,Employed,15000,478,0,11201,11250,49,0,0,own,0.231818,0.041520,0.117098,MO,39,homeImprovement,PersonalLoan
4,0,0,833,Retired,17000,715,0,32547,32600,53,0,0,mortgage,0.185356,0.030775,0.109331,IL,69,homeImprovement,PersonalLoan

In [4]:
df.tail()

,bankruptcyInLast3Years,bankruptcyTotal,Fico09,Employmentstatus,Selectedamount,realEstateMonthlyPayment,unsecuredTradelineBalanceAmount,revolvingCreditAvailable,revolvingCreditAmount,revolvingTradelinesBalance,otherMonthlyPayment,otherTradelinesBalance,HomeOwnership,postCloseAllInDti,dti,postCloseDti,State,Age,Loanpurpose,LoanType
32587,0,0,702,Employed,16000,672,0,5531,12800,7269,0,0,mortgage,0.512212,0.260500,0.377812,WI,41,auto,PersonalLoan
32588,0,0,687,Employed,11500,1759,530,13,10950,10937,0,0,mortgage,0.523676,0.209362,0.289143,SC,32,debtConsolidation,PersonalLoan
32589,0,0,801,Retired,10000,0,0,48250,53500,5250,182,32633,own,0.238072,0.140400,0.238072,TN,73,homeImprovement,PersonalLoan
32590,0,0,697,Employed,13000,0,0,10340,34520,24180,0,0,own,0.144662,0.101280,0.144662,LA,34,homeImprovement,PersonalLoan
32591,0,0,694,Employed,20000,3124,107804,26777,90800,64023,0,0,mortgage,0.503648,0.345644,0.367328,NE,52,other,PersonalLoan

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32592 entries, 0 to 32591
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   bankruptcyInLast3Years           32592 non-null  int64
 1   bankruptcyTotal                  32592 non-null  int64
 2   Fico09                           32592 non-null  int64
 3   Employmentstatus                 32569 non-null  object
 4   Selectedamount                   32592 non-null  int64
 5   realEstateMonthlyPayment         32592 non-null  int64
 6   unsecuredTradelineBalanceAmount  32592 non-null  int64
 7   revolvingCreditAvailable         32592 non-null  int64
 8   revolvingCreditAmount            32592 non-null  int64
 9   revolvingTradelinesBalance       32592 non-null  int64
 10  otherMonthlyPayment              32592 non-null  int64
 11  otherTradelinesBalance           32592 non-null  int64
 12  HomeOwnership                    32592 non-null  object
 13  postCloseAllInDti                32592 non-null  float64
 14  dti                              32592 non-null  float64
 15  postCloseDti                     32592 non-null  float64
 16  State                            32592 non-null  object
 17  Age                              32592 non-null  int64
 18  Loanpurpose                      32592 non-null  object
 19  LoanType                         32592 non-null  object
dtypes: float64(3), int64(12), object(5)
memory usage: 5.0+ MB

In [11]:
df['State']

0        TX
1        OK
2        AL
3        MO
4        IL
         ..
32587    WI
32588    SC
32589    TN
32590    LA
32591    NE
Name: State, Length: 32592, dtype: object

In [15]:
sns.boxplot(data=df, x='Age', y='dti')